<%
	# translate data supplied from CMS, if used
	if locals.has_key?(:contentful)
		
		background = contentful.backgroundImage
		headline = contentful.header || nil
		use_tall = contentful.useTallBillboard || false
		body = contentful.body || nil
		cta_type = contentful.ctaType || "none"
		btn_txt = contentful.buttonText || nil
		btn_url = contentful.buttonUrl || nil
		video_url = contentful.videoUrl || nil

	# used data listed directly as local variables	
	else
		if !locals.has_key?(:cta_type)
			cta_type = "none"
		end
		if !locals.has_key?(:use_tall)
			use_tall = false
		end
		if !locals.has_key?(:background)
			background = "default"
		end
	end

	# determine billboard type based on data
	if headline.nil?
		billboard_type = "textless"
	elsif body.nil? && cta_type == "none" && !use_tall
		billboard_type = "simple"
	else
		billboard_type = "verbose"
	end	
%>

<div class="billboard bb_<%= billboard_type %> bg_<%= background %>">

<% if billboard_type != "textless" %>
	<div class="bb_content">
		<h1><%= headline %></h1>

		<% if billboard_type == "verbose" %>
			<% if !body.nil? %>
				<p><%= body %></p>
			<% end %>
			<% if cta_type == "button" %>
				<%= link_to btn_txt, btn_url, :target => btn_url.index('http') == 0 ? "_blank" : nil, :class => "bb_btn" %>
			<% end %>
			<% if cta_type == "video" %>
				<%= link_to "Watch Video", video_url, :target => "_blank", :class => "bb_video-btn" %>
			<% end %>
		<% end %>

	</div>
<% end %>

</div>