---
title: Jabas | Experimental Billboard
---
<h1>Contentful Controlled Billboard</h1>
<%= partial "partials/billboard", :locals => { :contentful => data.experiment.billboard["7me5LPpFMAi4QwWgy8O2Ws"] } %>
<h1>Variation Examples</h1>
<p>Textless Billboard</p>
<%= partial "partials/billboard", :locals => { :background => "apples" } %>

<p>Simple Billboard - Standard</p>
<%= partial "partials/billboard", :locals => { :background => "apples", :headline => "Lorem ipsum dolor sit amet." } %>

<p>Simple Billboard - Tall</p>
<%= partial "partials/billboard", :locals => { :background => "bananas", :headline => "Lorem ipsum dolor sit amet.", :use_tall => true } %>

<p>Verbose Billboard - No CTA</p>
<%= partial "partials/billboard", :locals => { :background => "apples", :headline => "Lorem ipsum dolor sit amet.", :body => "Vivamus congue, eros vitae suscipit sagittis, dui ex luctus dolor, id dapibus urna odio sed justo." } %>

<p>Verbose Billboard - Button CTA</p>
<%= partial "partials/billboard", :locals => { :background => "bananas", :headline => "Lorem ipsum dolor sit amet.", :body => "Vivamus congue, eros vitae suscipit sagittis, dui ex luctus dolor, id dapibus urna odio sed justo.", :cta_type => "button", :btn_txt => "Pellentesque", :btn_url => "/internal-page/" } %>

<p>Verbose Billboard - Video CTA</p>
<%= partial "partials/billboard", :locals => { :background => "pears", :headline => "Lorem ipsum dolor sit amet.", :body => "Vivamus congue, eros vitae suscipit sagittis, dui ex luctus dolor, id dapibus urna odio sed justo.", :cta_type => "video", :video_url => "https://youtu.be/sGbxmsDFVnE" } %>
