---
title: Jabas | Experimental Billboard
---
<h1>Textless Billboard</h1>
<%= partial "partials/billboard", :locals => { :banner_bg => "apples" } %>

<h1>Simple Billboard - Standard</h1>
<%= partial "partials/billboard", :locals => { :banner_bg => "apples", :headline => "Lorem ipsum dolor sit amet." } %>

<h1>Simple Billboard - Tall</h1>
<%= partial "partials/billboard", :locals => { :banner_bg => "bananas", :headline => "Lorem ipsum dolor sit amet.", :use_tall => true } %>

<h1>Verbose Billboard - No CTA</h1>
<%= partial "partials/billboard", :locals => { :banner_bg => "apples", :headline => "Lorem ipsum dolor sit amet.", :body => "Vivamus congue, eros vitae suscipit sagittis, dui ex luctus dolor, id dapibus urna odio sed justo." } %>

<h1>Verbose Billboard - Button CTA</h1>
<%= partial "partials/billboard", :locals => { :banner_bg => "bananas", :headline => "Lorem ipsum dolor sit amet.", :body => "Vivamus congue, eros vitae suscipit sagittis, dui ex luctus dolor, id dapibus urna odio sed justo.", :cta_type => "button", :btn_txt => "Pellentesque", :btn_url => "/internal-page/" } %>

<h1>Verbose Billboard - Video CTA</h1>
<%= partial "partials/billboard", :locals => { :banner_bg => "pears", :headline => "Lorem ipsum dolor sit amet.", :body => "Vivamus congue, eros vitae suscipit sagittis, dui ex luctus dolor, id dapibus urna odio sed justo.", :cta_type => "video", :video_url => "https://youtu.be/sGbxmsDFVnE" } %>